/* fonts */
@font-face {
	font-family: "Aniron"; src: url("../fonts/anirm___.ttf");
}

@font-face {
	font-family: "Aniron"; font-weight: bold; src: url("../fonts/anirb___.ttf");
}

@font-face {
	font-family: "Ringbearer"; src: url("../fonts/ringm___.ttf");
}

.aniron {
	font-family: "Aniron";
}

.ringbearer {
	font-family: "Ringbearer";
}

.goudy {
	font-family: 'Goudy Bookletter 1911', serif;
}

.bungee {
	font-family: 'Bungee Hairline', cursive;
}

body { 
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1280px 800px;
}

#smallPhoto {
	width: 245px;
}

.wide {
	width: 500px;
}

#letters {
	background-color: forestgreen;
	color: limegreen;
}

#wordDisplay {
	font-size: 48px;
	text-align: center;
}