@font-face {
	font-family: "Aniron"; src: url("../fonts/anirm___.ttf");
}

@font-face {
	font-family: "Aniron"; font-weight: bold; src: url("../fonts/anirb___.ttf");
}

@font-face {
	font-family: "Ringbearer"; src: url("../fonts/ringm___.ttf");
}

h1, h2 {
	padding: 0;
	margin: 0;
	text-align: center;
}

#newWord {
	display: none;
}

.centered {
	text-align: center;
}

.aniron {
	font-family: "Aniron";
}

.ringbearer {
	font-family: "Ringbearer";
}

.goudy {
	font-family: 'Goudy Bookletter 1911', serif;
}

.bungee {
	font-family: 'Bungee Hairline', cursive;
}

#blanks {
	background-color: darkgreen;
	color: chartreuse;
	font-size: 36px;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
}

#lives {
	margin-top: 10px;
	font-size: 24px;
}

#word {
	font-size: 24px;
	font-weight: bold;
}

#incorrect {
	text-align: center;	
	color: red;
}