/* FONTS */
@font-face {
	font-family: "Aniron"; src: url("../fonts/anirm___.ttf");
}

@font-face {
	font-family: "Aniron"; font-weight: bold; src: url("../fonts/anirb___.ttf");
}

@font-face {
	font-family: "Ringbearer"; src: url("../fonts/ringm___.ttf");
}

.aniron {
	font-family: "Aniron";
}

.ringbearer {
	font-family: "Ringbearer";
	text-align: center;
}

.goudy {
	font-family: 'Goudy Bookletter 1911', serif;
	text-align: center;
}

.bungee {
	font-family: 'Bungee Hairline', sans-serif;
}

/*STYLING*/

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1280px 800px;
}

main {
	width: 1100px;
	margin: 30px auto 0 auto;
}

section {
	height: 550px;
}

.navbar-header {
	float: left;
}

.navbar-right {
	float: right;
}

article {
	background-color: black;
	background: rgba(0,0,0,.8);
	height: 100%;
}

aside {
	font-size: 36px;
	background: rgba(34,139,34,.8);
	height: 100%;
	margin: 0 2% 0 2%;
}

.nav {
	margin-top: 5px;
}

.side-panel {
	min-height: 200px;
}

.icon {
	padding: 5%;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

img {
	width: 100%;
	border: 1px solid black;
}

#largePhoto {
	margin: 0 auto;
}

#smallPhoto-box {
	height: 150px;
	margin-top: 20px;
}

#largePhoto-box {
	height: 240px;
}

#lives {
	text-align: center;
	background: rgba(34,139,34,1);
}

#score-box {
	text-align: center;
	background: rgba(34,139,34,1);
}

#incorrect-box {
	text-align: center;
	background: rgba(34,139,34,1);
}

#incorrect {
	height: 100px;
}

#alert-box {
	margin: 10% 0 0 0;
	height: 80px;
}

#alert {
	padding: 0;
	line-height: 40px;
	text-align: center;
}

#newName {
	opacity: 1;
}

#display {
	background: rgba(0,0,0,1);
	color: white;
	font-size: 36px;
	text-align: center;
	left: 5%;
	right: 5%;
}
